<template>
  <div class="grid-x medium-up-4 grid-padding-x grid-margin-y">
    <div class="cell"
    v-for="(post, index) in posts"
    :key="index">
      <p>
        {{ post.body }}
      </p>
    </div>
    <v-btn color="primary">
      Test
    </v-btn>
  </div>
</template>

<script>
import { 
  mapGetters,
  mapActions
} from 'vuex'

export default {
  // Grabbing http data before the component/page is loaded, reserved for vuex store data
  async fetch ({store, params}) {
    const data = await store.dispatch('example/fetchPosts')
  },
  // Like fetch, but merges data retreived with the component data() object
  async asyncData ({store}) {
    const data = await store.dispatch('example/fetchPosts')
    return {
      posts: data
    }
  },
  created () {
    // this.getPosts()
  },
  data () {
    return {
      loading: false,
      // posts: []
    }
  },
  computed: {
    // ...mapGetters({
    //   posts: 'example/posts'
    // })
  },
  methods: {
    // Normal way of making http requests using store.dispatch
    getPosts () {
      this.$store.dispatch('example/fetchPosts')
      .then((response) => {
        this.posts = response
        //do something with data
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  p {
    color: $primary;
  }
</style>

